



  <h2>User info</h2>


    <table class="table">
    <tbody><tr></tr>
    <tr>
      <td><%= attachment_image_tag user,:profile_image, size: '50x50', fallback: "no_image.jpg" %></td>
  	  <th>name</th>
  	  <th><%= user.name %></th>
    </tr>
    <tr>
  	  <th>introduction</th>
  	  <th><%= user.introduction %></th>
    </tr>
  </tbody>
  </table>
    <table>
    <tbody>
      <tr>

        <th>Name</th>
        <th><%= user.name %></th>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <tb>introduction</tb>
        <tb><%= user.introduction %></tb>
      </tr>
    </tbody>
  </table>
  <%= link_to edit_user_path(user.id) do %>

  <i class="fas fa-user-cog btn btn-outline-secondary btn-block "></i>

  <% end %>

  <% if flash[:notice] %>
<p id="notice">
    <%= flash[:notice] %>
</p>
    <% end %>

<h2>New book</h2>

<% if book.errors.any? %>
  <%= book.errors.count %>件のerrorエラーが発生しました
  <% book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with model: book,url:"/books", local:true do |f| %>
 <div class="field">
  <label class="new_title">Title</label>
   <%= f.text_field :title %>
 </div>
 <div class="field">
  <label class ="new_body">Opinion</label>
   <%= f.text_area :body%>
 </div>
 <div class="action">
  <br><%= f.submit "Create Book"%><br>
 </div>
  <% end %>